<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Delete</title>
    <style>
         body  {
            background-color: aquamarine;  background: linear-gradient(to right, #bbd2c5, #536976, #292e49); 
            height: 100vh;
            font-family: 'Montserrat';
        }

        h2 {
        margin: 3%;
        margin-top: 6%;
        }

        span {
            
            font-size: 40px;
            font-weight: 500;
        }
        .btn{
            background-color:  #758283;
            color: #fff;
            display: grid;
            border-radius: 10px;
            padding: 10px;
            box-shadow: 4px 4px 7px rgba(0,0,0,2), -2px -2px 0.5px rgba(255, 255, 255, 0.07) ;
            border: 0px;
            cursor: grab;

        }

        .nav-btns {
            display: flex;
            justify-content: space-evenly;
            margin-top: 5%;
            margin-right: 50%;
            margin-left: 0%;
        }

    </style>
</head>
<body>

    <div class="nav-btns" >
        <button class="btn btn1 " onclick="location.href='/Home'" type="button"> Home</button>
        <button class="btn btn1 " onclick="location.href='/addblog'" type="button"> Add New Blog</button>

    </div>

<div>
    <h2><span>Copy Id of the Blog</span> and paste it in the end of the current url in the url bar</h2>
    
</div>    
</body>
</html>